<h3>Prueba de template en Controlador</h3>

<p>La variable 1 es: {{ var_template1 }}.</p>

<p>La variable 2 es: {{ var_template2 }}.</p>


{% if arreglo | length > 0 %}

	<ul>
	
		{% for key, value in arreglo %}
		
			<li>Key: {{ key }} - Valor: {{ value }}</li>
		
		{% endfor %}
	
	</ul>

{% endif %}